    <footer>
        <div class="footer-inner">
            <div class="nav-warp">
                <div class="foot-menu">
                    <ul>
                        <li class="title">快捷导航</li>
                        <li><a href="/index.html">文档中心</a></li>
                        <li><a href="/information.html">信息聚合</a></li>
                        <li><a href="javascript:alert('暂未开放')" data-href="https://forum.aidocs.cn/">交流论坛</a></li>
                        <li><a href="/partner.html">合作伙伴</a></li>
                    </ul>
                </div>
                <div class="foot-menu">
                    <ul>
                        <li class="title">网站相关</li>
                        <li><a href="javascript:alert('暂未开放')" data-href="/about.html">关于我们</a></li>
                        <li><a href="javascript:alert('暂未开放')" data-href="/about.html">工作机会</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-info">
                Copyright©2018 AIDOCS www.aidocs.cn All Rights Reserved.
            </div>
        </div>
    </footer>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?376cb049f016c6c92f492e0c927bf0df";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>