    <nav>
        <ul>
            <div class="layout-left">
                <% site.topNav.forEach(function (item, index) { %>
                <li <% if ( pageType === item.pageType ) { %>class="active"<% } %> ><a href="<% if ( !item.url ) { %>javascript:alert('暂未开放')<% } else { %><%-item.url%><% } %>" ><i class="icon icon-<%-item.iconName%>"></i><%-item.name%></a></li>
                <% }) %>
            </div>
            <div class="layout-right">
                <li><button class="btn-top-login">登陆</button></li>
            </div>
        </ul>
    </nav>